body{
	background-color: #eb3434;
	overflow-x: hidden;
	height: 100%;
}
.intro_top{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 612px;
	height: 408px;
	top: 100px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
	position: absolute;
	width: 612px;
	height: 411px;
}
.shadow{
	position: relative;
	width: 100%;
	top: 400px;
	border-top-color: transparent;
	box-shadow:
    0px 0px 150px 150px #d62d2d;
}
.shadow_1{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 300px;
	background-color: #eb3434;
}
.shadow_2{
	position: absolute;
	width: 100%;
	box-shadow:
    0px 0px 20px 20px #eb3434;
}
.gd{
	position: absolute;
	width: 400px;
	height: 200px;
	margin-left: auto;
	left: 80px;
	margin-right: auto;
	top: 80px;
	font-family: 'Inter', sans-serif;
	font-size: 250px;
	color: white;
	text-align: center;
	transform: rotate(-10deg);
	animation-delay: 3s;
	animation-name: animate;
    animation-duration: 5s;
}
@keyframes animate{
	0%{opacity: 0;}
	0%{transform: rotate(-5deg);}
	45%{opacity: 1;}
	100%{transform: rotate(-10deg);}
	100%{opacity: 1;}
}
.parallax {
  min-height: 412px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 612px;
  height: 411px;
  background-image: url(img/triangle.png);
}
.parallax_1{
	position: absolute;
	top: 149px;
	min-height: 130px; 
    background-attachment: fixed;
    background-position: center;
    ackground-repeat: no-repeat;
    position: absolute;
    width: 201px;
    height: 68px;
    background-image: url(img/triangle.png);
}
.parallax_2{
	position: absolute;
	top: 43px;
	right: 63px;
	min-height: 210px; 
    background-attachment: fixed;
    background-position: center;
    ackground-repeat: no-repeat;
    position: absolute;
    width: 176px;
    height: 167px;
    background-image: url(img/triangle.png);
}
@keyframes fadein{
	0%{transform: translateY(-5px);}
	100%{transform: translateY(0px);}
}

.intro_top{
	animation-name: fadein;
	animation-delay: 3s;
	animation-duration: 2s;
}
.shadow_gd{
	position: absolute;
	width: 200px;
	height: 10px;
	background-color: #d62d2d;
	box-shadow:
    0px 0px 50px 50px  #d62d2d;
    bottom: 0px;
    right: 206px;
}
.navbar{
	position: relative;
	top: -370px;
	height: 50px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.navbar_intro{
	position: absolute;
	left: 60px;
    font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
	top: 10px;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: fadeinnav;
	animation-delay: 3s;
	animation-duration: 2s;
	transition: all .2s ease-in-out;
}
.navbar_work{
	position: absolute;
    font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
	top: 10px;
	right: 60px;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: fadeinnav;
	animation-delay: 3.3s;
	animation-duration: 2s;
}
.navbar_what{
	position: absolute;
    font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
	top: 10px;
	left: 140px;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: fadeinnav;
	animation-delay: 3.1s;
	animation-duration: 2s;
}
.navbar_who{
	position: absolute;
    font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
	top: 10px;
	left: 220px;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: fadeinnav;
	animation-delay: 3.2s;
	animation-duration: 2s;
}
@keyframes fadeinnav{
	0%{opacity: 0;}
	0%{transform: translateY(-20px);}
	100%{transform: translateY(0px);}
	100%{opacity: 1;}
}
a{
	text-decoration: none;
	color: white;
	transition: all .2s ease-in-out;
}
.top_l{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.top_layar{
	position: absolute;
	top: 0;
	width: 100%;
	height: 10px;
}
.top_layar [data-scroll="in"]{
	opacity: 0;
	transition: all .2s ease-in-out;
}
.top_layar [data-scroll="out"]{
	opacity: 1;
	transition: all .2s ease-in-out;
}
.top_layar_1{
	position: absolute;
	top: 0;
	width: 100%;
	height: 600px;
	background-color: #eb3434;
}





.h3{
	position: absolute;
	bottom: 470px;
	width: 100%;
	height: 100px;
}
.h3_top{
	bottom: 480px;
	height: 10px;
	width: 100%;
}
.h3 [data-scroll="in"]{
	opacity: 0;
	transition: all .2s ease-in-out;
}
.h3 [data-scroll="out"]{
	opacity: 1;
	transition: all .2s ease-in-out;
}
.img_bottom{
	position: absolute;
	width: 100%;
	height: 300px;
	top: 365px;
	background-color: #e3fafa;
}



.p_box{
	position: absolute;
	bottom: 470px;
	width: 100%;
	height: 100px;
}
.box_top{
	bottom: 480px;
	height: 10px;
	width: 100%;
}
.p_box [data-scroll="out"]{
	opacity: 0;
	transition: all .2s ease-in-out;
}
.p_box [data-scroll="in"]{
	opacity: 1;
	transition: all .2s ease-in-out;
}
.p_box_1{
	position: absolute;
	width: 100%;
	height: 300px;
	top: 365px;
	overflow: hidden;
}
.g_bottom{
	position: absolute;
	height: 10px;
	width: 100%;
	bottom: 640px;
	font-size: 400px;
	font-family: 'Inter', sans-serif;
	color: #ffffff;
}
.p_box_1 [data-scroll="in"]{
	opacity: 0;
	transition: all .2s ease-in-out;
}
.p_box_1 [data-scroll="out"]{
	opacity: 1;
	transition: all .2s ease-in-out;
}
.g_1{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 80px;
	left: 30%;
	transform: rotate(20deg);
}





.second_half{
	position: absolute;
	width: 100%;
	height: 300px;
	top: 120px;
	overflow: hidden;
}
.second_bottom{
	position: absolute;
	height: 10px;
	width: 100%;
	bottom: 340px;
	font-size: 400px;
	font-family: 'Inter', sans-serif;
	color: #ff4f4f;
}
.second_half [data-scroll="in"]{
	opacity: 0;
	transition: all .2s ease-in-out;
}
.second_half [data-scroll="out"]{
	opacity: 1;
	transition: all .2s ease-in-out;
}
.second_g_1{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 80px;
	left: 30%;
	transform: rotate(20deg);
}
.load_in{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #eb3434;
	animation-name: load_out;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: 3s;
}
@keyframes load_out{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
.load_in_animation{
	position: absolute;
	width: 100%;
  height: 100px;
	top: 250px;
}
.load_in_animation_1{
	position: absolute;
	width: 100px;
  height: 100px;
  left: 46%;
  border-radius: 100px;
  overflow: hidden;
  animation-name: fade_out_animation;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-duration: 1s;
}
@keyframes fade_out_animation{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
.load_in_animation_2{
	position: absolute;
	width: 100px;
  height: 50px;
  left: 0px;
  top: 25px;
  border-radius: 10px;
  background-color: white;
  animation-name: rotate;
  animation-duration: 3s;
}
@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
.load_in_animation_3{
	position: absolute;
	width: 90px;
  height: 90px;
  left: 5px;
  top: 5px;
  border-radius: 45px;
  background-color: #eb3434;
}
.GD_animation{
    position: absolute;
    font-size: 40px;
    left: 15px;
    top: 25px;
    color: white;
    font-family: 'Inter', sans-serif;
}


.info{
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	left: 0;
	background-color: white;
}
.G{
	position: absolute;
	left: 10px;
	top: 10px;
  font-size: 20px;
  color: black;
  font-family: 'Inter', sans-serif; 
}
.iorgi{
	position: absolute;
	left: 30px;
	top: 15px;
  font-size: 10px;
  color: black;
  font-family: 'Inter', sans-serif; 
}
.D{
	position: absolute;
	left: 70px;
	top: 10px;
  font-size: 20px;
  color: black;
  font-family: 'Inter', sans-serif; 
}
.igmelashvili{
	position: absolute;
	left: 90px;
	top: 15px;
  font-size: 10px;
  color: black;
  font-family: 'Inter', sans-serif; 
}
.GiorgiD{
	position: absolute;
	top: 0;
	left: 60px;
	height: 40px;
	width: 200px;
}
.powerd{                                     
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 10px;
  color: black;
  font-family: 'Inter', sans-serif; 
}
.contact_info{
	position: absolute;
	width: 250px;
	height: 100%;
	top: 0;
	right: 0px;
}
.Gmail{
	position: absolute;
	right: 60px;
	top: 5px;
	transition: all .1s ease-in-out;
}
.Gmail:hover{
	opacity: 0.7;
}

.FaceBook{
	position: absolute;
	right: 10px;
	top: 0px;
	transition: all .1s ease-in-out;
}
.FaceBook:hover{
	opacity: 0.7;
}
.instagram{
	position: absolute;
	right: 100px;
	top: 0px;
	transition: all .1s ease-in-out;
}
.instagram:hover{
	opacity: 0.7;
}


